#### List ( Drawback respect to Dictionaries)  | Limitations of List

In [5]:
pop = [30.55, 2.77, 39.21]

countries = ["afghanistan", "albania", "algeria"]

ind_alb = countries.index("albania")

print(ind_alb) # Index of albania

print(pop[ind_alb]) # Relevant value(Same index value) from pop 
# time consuming process

1
2.77

#### Dictionaries (Part 1) :-
-  {"key" : value}
-  dict_name[key]

In [12]:
world = { "afghanistan" : 30.55,
          "albania" : 2.77,
          "algeria" : 39.21}

# dict_name[key]

print(world["albania"])
# print(world[2.77])

2.77

#### Exercise :- Motivation for dictionaries

Motivation for dictionaries
To see why dictionaries are useful, have a look at the two lists defined on the right. countries contains the names of some European countries. capitals lists the corresponding names of their capital.

Instructions :-
1). Use the index() method on countries to find the index of 'germany'. Store this index as ind_ger.
2). Use ind_ger to access the capital of Germany from the capitals list. Print it out.

In [13]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

#### Exercise :- Create dictionary

Create dictionary
The countries and capitals lists are again available in the script. It's your job to convert this data to a dictionary where the country names are the keys and the capitals are the corresponding values. As a refresher, here is a recipe for creating a dictionary:

my_dict = {
   "key1":"value1",
   "key2":"value2",
}
In this recipe, both the keys and the values are strings. This will also be the case for this exercise.


Instrucctions :-
1). With the strings in countries and capitals, create a dictionary called europe with 4 key:value pairs. Beware of capitalization! Make sure you use lowercase characters everywhere.
2). Print out europe to see if the result is what you expected.

In [14]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = { 'spain':'madrid', 'france':'paris' , 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

#### Exercise : Access dictionary

Access dictionary
If the keys of a dictionary are chosen wisely, accessing the values in a dictionary is easy and intuitive. For example, to get the capital for France from europe you can use:

europe['france']
Here, 'france' is the key and 'paris' the value is returned.



Instructions:-
1). Check out which keys are in europe by calling the keys() method on europe. Print out the result.
2). Print out the value that belongs to the key 'norway'.

In [15]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

#### Dictionaries Part -2

In [18]:
world = { "afghanistan" : 30.55, "albania" : 2.77, "algeria" : 39.21}

print(world['albania']) # Value of key


# After adding one more time same key in dictionaries with different value
world = { "afghanistan" : 30.55, "albania" : 2.77, "algeria" : 39.21, "albania":2.81}

# Keys have to be "immutable" objects
print(world)

# Output changed the value of key 'albania'

2.77
{'afghanistan': 30.55, 'albania': 2.81, 'algeria': 39.21}

In [20]:
# Basicallay the content of immutable objects cant be changed after they created .
# Strings, Booleans, Integers and floats are immutable objects , but the list for example is mutable ,
# because you can change its contents after its created .

trial = {0:"hello", True:'dear', 'two':"world"} # keys are int, bool, string
trial

{0: 'hello', True: 'dear', 'two': 'world'}

In [21]:
# Thats why this dictionary that has all immutable objects as keys is perfect valid.
# This one, however ,that uses a list as a key, is not valid,So we  get an error

trial_dict_list_keys = {["just", "to", "test"] : "value"}
trial_dict_list_keys

TypeError: unhashable type: 'list'

In [26]:
world = { "afghanistan" : 30.55,
          "albania" : 2.77,
          "algeria" : 39.21,
          "sealand" : 20.14}

print("algeria" in world) # Boolean

del(world["sealand"]) # Delete "sealand"

print(world)

True
{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

### List vs Dictionaries
-  <b>List</b>
   -  Select,update and remove: []
   -  Index by range of numbers
   -  Collection of  values
   -  Order matters
   -  Select entire subsets
   
   
   
   
-  <b>Dictionaries</b>
   -  Select,update and remove: []
   -  Index by unique keys
   -  Lookup table by unique keys

#### Exercise :- Data Manipulation (1)

Dictionary Manipulation (1)
If you know how to access a dictionary, you can also assign a new value to it. To add a new key-value pair to europe you can use something like this:

europe['iceland'] = 'reykjavik'




Instructions

1). Add the key 'italy' with the value 'rome' to europe.
2). To assert that 'italy' is now a key in europe, print out 'italy' in europe.
3). Add another key:value pair to europe: 'poland' is the key, 'warsaw' is the corresponding value.

In [27]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)
# Add poland to europe
europe['poland'] ='warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

#### Exercise : Dictionary Manipulation (2)

Dictionary Manipulation (2)
Somebody thought it would be funny to mess with your accurately generated dictionary. An adapted version of the europe dictionary is available in the script on the right.

Can you clean up? Do not do this by adapting the definition of europe, but by adding Python commands to the script to update and remove key:value pairs
    
    
Instructions:-
1). The capital of Germany is not 'bonn'; it's 'berlin'. Update its value.
2). Australia is not in Europe, Austria is! Remove the key 'australia' from europe.
3). Print out europe to see if your cleaning work paid off.

In [28]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

#### Example :- Dictionariception

<code>
Dictionariception
Remember lists? They could contain anything, even other lists. Well, for dictionaries the same holds. Dictionaries can contain key:value pairs where the values are again dictionaries.

As an example, have a look at the script where another version of europe - the dictionary you've been working with all along - is coded. The keys are still the country names, but the values are dictionaries that contain more information than just the capital.

It's perfectly possible to chain square brackets to select elements. To fetch the population for Spain from europe, for example, you need:

europe['spain']['population']



Instructions :-
1). Use chained square brackets to select and print out the capital of France.
2). Create a dictionary, named data, with the keys 'capital' and 'population'. Set them to 'rome' and 59.83, respectively.
3). Add a new key-value pair to europe; the key is 'italy' and the value is data, the dictionary you just built.
</code>

In [5]:

# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe ['france'] ['capital'])

# Create sub-dictionary data
data = {'capital':'rome',
        'population' : 59.83
        }

# Add data to europe under key 'italy'
europe ['italy'] = data 

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## Pandas Part -1

-  Tabular Data Sets
<code>
   -  Row :- Observation
   -  Column :- Variable
</code>

### Why Pandas

Datasets in Python
-  One Data type

Pandas
-  High level data manipulation tool
-  wes Mckinney
-  Built on Numpy

DataFrame in Pandas
-  Row labels 
-  Column labels
-  Column with different types

#### Dataframes from Dictionaries

In [8]:
dict = {
        "country" : ["Brazil", "Russia", "India", "China", "South Africa"],
        "capital" : ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria" ],
        "area": [8.516, 17.10, 3.286, 9.597, 1.221],
        "population" : [200.4, 143.5, 1252, 1357, 52.98]
}

# keys : (column labels) --> Country
# values  : (data, coumn by column) --> 

import pandas as pd

brics = pd.DataFrame(dict)

brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

#### Change the index name of DataFrame

In [9]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#### DataFrame from CSV file

In [15]:
brics = pd.read_csv("datasets/brics.csv")
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

#### sET index_col in dataframe

In [20]:
brics = pd.read_csv("datasets/brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#### Exercise : Dictionary to DataFrame (1)  : List --> Dictionary --> DataFrame

Dictionary to DataFrame (1)
Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.

Three lists are defined in the script:

names, containing the country names for which data is available.
dr, a list with booleans that tells whether people drive left or right in the corresponding country.
cpc, the number of motor vehicles per 1000 people in the corresponding country.
Each dictionary key is a column label and each value is a list which contains the column elements.



Instructions :-
1). Import pandas as pd.
2). Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:
3). key 'country' and value names.
4). key 'drives_right' and value dr.
5). key 'cars_per_cap' and value cpc.
6). Use pd.DataFrame() to turn your dict into a DataFrame called cars.
7). Print out cars and see how beautiful it is.

In [21]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as  pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = { 'country' : names,
            'drives_right' : dr,
            'cars_per_cap':cpc
            }

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

#### Example:-  Dictionary to DataFrame (2)

Dictionary to DataFrame (2)
The Python code that solves the previous exercise is included on the right. Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list row_labels has been created. You can use it to specify the row labels of the cars DataFrame. You do this by setting the index attribute of cars, that you can access as cars.index.


Instructions :-
1). Hit Submit Answer to see that, indeed, the row labels are not correctly set.
2). Specify the row labels by setting cars.index equal to row_labels.
3). Print out cars again and check if the row labels are correct this time.

In [22]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

#### Example : CSV to DataFrame (1)

CSV to DataFrame (1)
Putting data in a dictionary and then building a DataFrame works, but it's not very efficient. What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".

To import CSV data into Python as a Pandas DataFrame you can use read_csv().

Let's explore this function with the same cars data from the previous exercises. This time, however, the data is available in a CSV file, named cars.csv. It is available in your current working directory, so the path to the file is simply 'cars.csv'.



Instructions:-
1). To import CSV files you still need the pandas package: import it as pd.
2). Use pd.read_csv() to import cars.csv data as a DataFrame. Store this dataframe as cars.
3). Print out cars. Does everything look OK?

In [26]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('datasets/cars.csv')

# Print out cars
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

#### Exercise : CSV to DataFrame (2)

CSV to DataFrame (2)
Your read_csv() call to import the CSV data didn't generate an error, but the output is not entirely what we wanted. The row labels were imported as another column without a name.

Remember index_col, an argument of read_csv(), that you can use to specify which column in the CSV file should be used as a row label? Well, that's exactly what you need here!

Python code that solves the previous exercise is already included; can you make the appropriate changes to fix the data import?



Instructions :-
1). Run the code with Submit Answer and assert that the first column should actually be used as row labels.
2). Specify the index_col argument inside pd.read_csv(): set it to 0, so that the first column is used as row labels.
3). Has the printout of cars improved now?

In [27]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('datasets/cars.csv',index_col = 0)

# Print out cars
print(cars)

                      mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
Mazda RX4            21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag        21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Datsun 710           22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Hornet 4 Drive       21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout    18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Valiant              18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
Duster 360           14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
Merc 240D            24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
Merc 230             22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
Merc 280             19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
Merc 280C            17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
Merc 450SE           16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
Merc 450SL           17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
Merc 450SLC          15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
Cadillac Fleetwood   10.4    8  472.0  205  2.93  5.250  17.98   0   0     3
Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
Chrysler Imperial    14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
Fiat 128             32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
Honda Civic          30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
Toyota Corolla       33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
Toyota Corona        21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
Dodge Challenger     15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
AMC Javelin          15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
Camaro Z28           13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
Pontiac Firebird     19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
Fiat X1-9            27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
Porsche 914-2        26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
Lotus Europa         30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
Ford Pantera L       15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
Ferrari Dino         19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
Maserati Bora        15.0    8  301.0  335  3.54  3.570  14.60   0   1     5
Volvo 142E           21.4    4  121.0  109  4.11  2.780  18.60   1   1     4

                     carb
Mazda RX4               4
Mazda RX4 Wag           4
Datsun 710              1
Hornet 4 Drive          1
Hornet Sportabout       2
Valiant                 1
Duster 360              4
Merc 240D               2
Merc 230                2
Merc 280                4
Merc 280C               4
Merc 450SE              3
Merc 450SL              3
Merc 450SLC             3
Cadillac Fleetwood      4
Lincoln Continental     4
Chrysler Imperial       4
Fiat 128                1
Honda Civic             2
Toyota Corolla          1
Toyota Corona           1
Dodge Challenger        2
AMC Javelin             2
Camaro Z28              4
Pontiac Firebird        2
Fiat X1-9               1
Porsche 914-2           2
Lotus Europa            2
Ford Pantera L          4
Ferrari Dino            6
Maserati Bora           8
Volvo 142E              2

### Pandas : Part 2

Index and Select Data 
-  Square Brackets : []
-  Advanced Methods
   -  loc
   -  iloc

In [29]:
brics = pd.read_csv("datasets/brics.csv", index_col = 0)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#### Column Access | Column | Type : Series

In [41]:
print(brics['country'])

print(type(brics['country']))  # Series is like 1 dimensional array

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object
<class 'pandas.core.series.Series'>

#### Column Access | Column | Type : DataFrame

In [40]:
print(brics[['country']])

print(type(brics[['country']])) # DataFrame is multi-dimensional array

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa
<class 'pandas.core.frame.DataFrame'>

#### Column Access | Multiple Column | Type : DataFrame

In [61]:
print(brics)

print(brics[['country','capital']])
print(type(brics[['country','capital']]))

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
<class 'pandas.core.frame.DataFrame'>

#### Row Access

In [60]:
print(brics)


print(brics[1:4]) # include 1 to exclude 4

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

#### Discussion | Square Bracket [] | Limited Functionality

Ideally 
-  2D Numpy Arrays
-  my_array [rows , columns]

### Pandas : Access column and row | Label Based & Integer-Position Based 

-  loc ( Label Based )
-  iloc ( Integer - Position Based )

#### Row Access | loc | Row as Pandas Series

In [59]:
print(brics)

print(brics.loc["RU"]) # Row 
print(type(brics.loc["RU"]))

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
<class 'pandas.core.series.Series'>

#### Row Access | loc | Row as Pandas DataFrame | Single Row

In [58]:
print(brics)

print(brics.loc[["RU"]]) # Row 
print(type(brics.loc[["RU"]]))

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
   country capital  area  population
RU  Russia  Moscow  17.1       143.5
<class 'pandas.core.frame.DataFrame'>

#### Row Access | loc | Row as Pandas DataFrame | Multiple Row

In [57]:
print(brics)

print(brics.loc[["RU", "IN", "BR"]])

print(type(brics.loc[["RU", "IN", "BR"]]))

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
BR  Brazil   Brasilia   8.516       200.4
<class 'pandas.core.frame.DataFrame'>

#### Row & Column Access | loc |

In [56]:
print(brics)

print(brics.loc[['RU', 'IN', 'CH'], ['country', 'capital']])

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98
   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [62]:
print(brics.loc[:,['country', 'capital']]) # All row

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

#### Difference Between loc & iloc

instead of row & column label need to use index number

In [64]:
print(brics.iloc[1]) # Row

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [71]:
print(brics.iloc[[1, 2, 0]])

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
BR  Brazil   Brasilia   8.516       200.4

In [70]:
print(brics.iloc[[1, 2, 3], [0 , 1]])

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [73]:
print(brics.iloc[:,[1, 2]]) # All row

      capital    area
BR   Brasilia   8.516
RU     Moscow  17.100
IN  New Delhi   3.286
CH    Beijing   9.597
SA   Pretoria   1.221

#### Exercise :- Square Brackets (1)

Square Brackets (1)
In the video, you saw that you can index and select Pandas DataFrames in many different ways. The simplest, but not the most powerful way, is to use square brackets.

In the sample code on the right, the same cars data is imported from a CSV files as a Pandas DataFrame. To select only the cars_per_cap column from cars, you can use:

cars['cars_per_cap']
cars[['cars_per_cap']]
The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.



Instructiions :-
1). Use single square brackets to print out the country column of cars as a Pandas Series.
2). Use double square brackets to print out the country column of cars as a Pandas DataFrame.
3). Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.

In [78]:
# Import cars data
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['mpg'])

# Print out country column as Pandas DataFrame
print(cars[['mpg']])

# Print out DataFrame with country and drives_right columns
print(cars[['disp','drat']])

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64
                      mpg
Mazda RX4            21.0
Mazda RX4 Wag        21.0
Datsun 710           22.8
Hornet 4 Drive       21.4
Hornet Sportabout    18.7
Valiant              18.1
Duster 360           14.3
Merc 240D            24.4
Merc 230             22.8
Merc 280             19.2
Merc 280C            17.8
Merc 450SE           16.4
Merc 450SL           17.3
Merc 450SLC          15.2
Cadillac Fleetwood   10.4
Lincoln Continental  10.4
Chrysler Imperial    14.7
Fiat 128             32.4
Honda Civic          30.4
Toyota Corolla       33.9
Toyota Corona        21.5
Dodge Challenger     15.5
AMC Javelin          15.2
Camaro Z28           13.3
Pontiac Firebird     19.2
Fiat X1-9            27.3
Porsche 914-2        26.0
Lotus Europa         30.4
Ford Pantera L       15.8
Ferrari Dino         19.7
Maserati Bora        15.0
Volvo 142E           21.4
                      disp  drat
Mazda RX4            160.0  3.90
Mazda RX4 Wag        160.0  3.90
Datsun 710           108.0  3.85
Hornet 4 Drive       258.0  3.08
Hornet Sportabout    360.0  3.15
Valiant              225.0  2.76
Duster 360           360.0  3.21
Merc 240D            146.7  3.69
Merc 230             140.8  3.92
Merc 280             167.6  3.92
Merc 280C            167.6  3.92
Merc 450SE           275.8  3.07
Merc 450SL           275.8  3.07
Merc 450SLC          275.8  3.07
Cadillac Fleetwood   472.0  2.93
Lincoln Continental  460.0  3.00
Chrysler Imperial    440.0  3.23
Fiat 128              78.7  4.08
Honda Civic           75.7  4.93
Toyota Corolla        71.1  4.22
Toyota Corona        120.1  3.70
Dodge Challenger     318.0  2.76
AMC Javelin          304.0  3.15
Camaro Z28           350.0  3.73
Pontiac Firebird     400.0  3.08
Fiat X1-9             79.0  4.08
Porsche 914-2        120.3  4.43
Lotus Europa          95.1  3.77
Ford Pantera L       351.0  4.22
Ferrari Dino         145.0  3.62
Maserati Bora        301.0  3.54
Volvo 142E           121.0  4.11

#### Exercise :- Square Brackets (2)

Square Brackets (2)
Square brackets can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the cars DataFrame:

cars[0:5]
The result is another DataFrame containing only the rows you specified.

Pay attention: You can only select rows using square brackets if you specify a slice, like 0:4. Also, you're using the integer indexes of the rows here, not the row labels!
        
        
 
Instructions :-
1). Select the first 3 observations from cars and print them out.
2). Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.

In [80]:
# Import cars data
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
                    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Valiant            18.1    6  225.0  105  2.76  3.460  20.22   1   0     3

                   carb
Hornet 4 Drive        1
Hornet Sportabout     2
Valiant               1

#### Exercise :- loc and iloc (1)

loc and iloc (1)
With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with loc and iloc to select observations. Each pair of commands here gives the same result.

cars.loc['RU']
cars.iloc[4]

cars.loc[['RU']]
cars.iloc[[4]]

cars.loc[['RU', 'AUS']]
cars.iloc[[4, 1]]
As before, code is included that imports the cars data as a Pandas DataFrame.




Instructions :-
1). Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JAP, the index is     2. Make sure to print the resulting Series.
2). Use loc or iloc to select the observations for Australia and Egypt as a DataFrame. You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.

In [88]:
# Import cars data
import pandas as pd
cars = pd.read_csv('datasets/car.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc['JAP'])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']])

country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

#### Exercise : loc and iloc (2)

loc and iloc (2)
loc and iloc also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]



Instructions:-
1). Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
2). Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.

In [91]:
# Import cars data
import pandas as pd
cars = pd.read_csv('datasets/car.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR'],['drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU','MO'],['country','drives_right']])

KeyError: 'the label [MOR] is not in the [index]'